body{
    background-color: rgb(248, 248, 248);
}
.row > * { margin: 0; padding: 0 }
#logo-main{
    height: 2rem;
    width: 5rem;
}
.overlay-banner{
    background-color: rgba(0, 0, 0,0.6) !important;
    height: 100vh;
    width: 100% !important;
    position: absolute;
    margin: 0px auto;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: none !important;
    border: none !important; 
    border-radius: 0rem; 
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: none !important;
}
.banner{
    height: 100vh;
    background-image: url('../images/asset11.jpeg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.section-first{
    height: 100vh;
    background-color: #2c3e50!important;
}
.section-second{
    height: 100vh;
    background-color: #e74c3c !important;
}
footer{
    max-height: 5rem !important;
    background-color: rgb(255, 255, 255) !important;
}
.scishub-footer{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #95a5a6;
}
.scis-inspire{
    font-family: 'Montserrat', sans-serif;
}
/* PSC page */
.banner-webApp{
    height: 80vh;
    background-image: url('../images/asset7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.banner-overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.web-project{
    background-color: rgb(248, 248, 248)
}
.card{
    height: 45vh;
    margin: 0px auto;
    float: none;
    margin-bottom: 10px;
    border: none !important;
}
.card-img-top{
    cursor: pointer;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.card-img-top:hover{
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    background-color: rgba(0, 0, 0, 0.7);
}
.card-body{
    background-color: rgb(255, 255, 255);
}
.hover-effect{
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
#footer-divider{
    height: 2rem !important;
    width: 1px;
    background-color: #95a5a6;
    margin-left: 18rem;
}
.list-group-item{
    border: none !important;
    padding: 0;
    list-style-type: none;
}
